header{max-width: 1600px;
    
}
.banner{
    border-radius: 16px;
background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    width: 82%;
    max-width: 1320px;
    height: 600px;
    margin: 0 auto;
    background-image: url('images/Banner\ Image.png');
}
.banner-heading {
    color: rgb(8, 68, 209);
    padding: 177px 531px 383px 530px;
}
.banner-description{
    font-size: 40px;
    text-align: center;
}
/* main section */
.container{
    padding :100px 250px;
    align-items: center;
   max-width: 800px ;
}
.container .heading-title{
    align-items: center;
    padding-left: 300px;
}
.container .img{
    width: 802.9px;
height: 500px;
flex-shrink: 0;
}
.container .color{
   color: #F00 ;
}
    /* section */

.section{
    margin-left: 140px;
    margin-right: 140px;
    max-width: 1320px;
    padding: 100px auto;
    background-image: url('images/Vectorrr.png');
}
.section{
    display: flex;
}
.section-content{
    padding-left: 120px;
}
.btn{
    margin-left: 80px;
    margin-top: 48px;
}
.section-heading{
    margin-top: 126px;
    margin-left: 80px;
    color: white;
font-family: Merriweather;
}
.section-description{
    margin-top: 30px;
    margin-left: 80px;
    color: aliceblue;
}
.section .image{
width: 319.83px;
height: 464.662px;
padding: 100px 20px 20px 20px;
}
/* 3rd section */
.section-3{
    max-width: 1100px;
    margin-top: 140px;
    margin-left: 140px;
   height: 482px;
    background-color: burlywood;
}
.section-3-content{
    text-align: center;
    margin-top: 100px ;
    margin-left: 285px;
    padding-top:100px ;
    max-width: 559px;
    font-size: 32px;
}
.sp{
    color: red;
}
.btn-1{
    background-color: red;
    color: wheat;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 500px;
}